{% extends 'layout/layout.html.twig' %}

{% block title %}Профиль пользователя · МиАР{% endblock %}
{% block nav_profile %}	active{% endblock %}

{% block content %}
	<h1 class="sr-only">Профиль пользователя</h1>
	<div class="row">
		<aside class="col-12 col-md-4 col-xl-3 mb-3">
			<ul class="nav card">
				<li class="nav-item">
					<a class="nav-link" href="/profile/info">
						<svg class="mr-1 mt-n1 fill-text-primary" width="1em" height="1em">
							<use xlink:href="#svg-info-circle"></use>
						</svg>
						<span>Информация</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<svg class="mr-1 mt-n1 fill-text-primary" width="1em" height="1em">
							<use xlink:href="#svg-shield-alt"></use>
						</svg>
						<span>Безопасноть</span>
					</a>
				</li>
			</ul>
		</aside>
		<section class="col-12 col-md-8 col-xl-9">
			{% block section %}{% endblock %}
		</section>
	</div>
{% endblock %}
