{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="sr-only">Авторизация</h1>
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="container-fluid h-100 text-center bg-light">
		<div class="row h-100 justify-content-center align-items-center">
			<form class="col-sm-8 col-md-6 col-lg-4 col-xl-3" method="post" novalidate>
				<h2 class="h1 mb-4">МиАР</h2>
				<div class="form-group">
					<label class="sr-only" for="inputUsername">Логин</label>
					<input class="form-control" type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Логин" autofocus>
				</div>
				<div class="form-group">
					<label class="sr-only" for="inputPassword">Пароль</label>
					<input class="form-control" type="password" name="password" id="inputPassword" placeholder="Пароль">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<div class="form-group">
					<label class="sr-only" for="database">База данных</label>
					<select class="form-control selectpicker" id="database" name="database">
						<option value="" selected disabled>Выберите базу данных</option>
						<option value="plots">Земельные участки</option>
						<option value="buildings">Объекты капитального строительства</option>
					</select>
				</div>
				<div class="form-group mb-4">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
				</div>
				<p class="text-muted">&copy; 2020 АС Мониторинг и анализ рынка</p>
			</form>
		</div>
	</div>
{% endblock %}
