{% extends 'layout/layout.html.twig' %}

{% block title %}Hello BuildingController!{% endblock %}
{% block nav_database %} active{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aleksandregorov/Desktop/Projects/miar-symfony/src/Controller/BuildingController.php'|file_link(0) }}">src/Controller/BuildingController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aleksandregorov/Desktop/Projects/miar-symfony/templates/building/index.html.twig'|file_link(0) }}">templates/building/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
