<!DOCTYPE html>
<html lang="ru" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}{% endblock %}</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="apple-touch-icon" sizes="180x180" href="build/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="build/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="build/favicons/favicon-16x16.png">
		{% endblock %}
	</head>
	<body class="d-flex flex-column h-100">
    {{ include('partials/_sprite.html.twig') }}
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
