{% extends 'base.html.twig' %}

{% block title %}Ошибка · МиАР{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="text-danger">Ошибка</h1>
		<h2 class="h3">Сервер вернул "{{ status_code }}: {{ status_text }}"</h2>
		<p>
			Сообщите что вы делали, когда произошла эта ошибка. Мы исправим это как можно скорее. Извините за причиненные неудобства.
		</p>
	</div>
{% endblock %}
